<div class="location-selection-container">
  <div class="map-container">
    <div id="map"></div>
  </div>
  <div class="locations-container">
    <div *ngFor="let location of locations" class="location-card">
      <nz-card nzTitle="{{ location.storeName }}" [nzExtra]="extraTemplate">
        <p>{{ location.address }}</p>
        <p>{{ location.phoneNumber }}</p>
        <p>Distance: {{ location.distance }}</p>
        <p>Duration: {{ location.duration }}</p>
      </nz-card>
      <ng-template #extraTemplate>
        <button nz-button nzType="primary" (click)="selectLocation(location)">Select</button>
      </ng-template>
    </div>
  </div>
</div>