.location-selection-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* Full height of the viewport */
}

.map-container {
  flex: 1;
  height: 100vh;
  /* Full height */
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

.locations-container {
  flex: 1;
  overflow-y: auto;
  /* Enable vertical scrolling */
  padding: 1rem;
  height: 100vh;
  /* Full height */
  box-sizing: border-box;
  /* Include padding in the height calculation */
}

.location-card {
  margin-bottom: 1rem;
}