<div class="header-container">
  <h1 class="welcome-header">Welcome Layth,</h1>
</div>

<div class="content-container">
  <div class="map-container">
    <div class="place-picker-container">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input nz-input id="location-input" placeholder="Enter a place to start" [formControl]="originControl" />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div id="map"></div>
  </div>

  <div class="locations-container">
    <h2>Top 10 Locations</h2>
    <nz-list [nzDataSource]="paginatedStores" [nzRenderItem]="store" [nzItemLayout]="'horizontal'">
      <ng-template #store let-store>
        <nz-list-item>
          <nz-list-item-meta
            nzTitle="<label nz-checkbox [(ngModel)]='store.selected'>{{ store.storeName }} ({{ store.distance }} | {{ store.duration }})</label>"
            nzDescription="Address: {{ store.address }}">
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
    <nz-pagination [nzTotal]="stores.length" [nzPageSize]="pageSize" [nzPageIndex]="currentPage"
      (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
  </div>
</div>