<nz-modal [(nzVisible)]="isVisible" nzTitle="Location Access Required" nzCentered (nzOnCancel)="handleCancel()">
  <ng-template nzModalContent>
    <p>Proceeding will use Los Angeles, CA as your location if you do not allow location access.</p>
  </ng-template>
  <ng-template nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Proceed</button>
  </ng-template>
</nz-modal>