/* Layout styles */
nz-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Header styles */
nz-header {
  background: #001529;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 64px;
  position: relative;
  z-index: 5;
  /* Ensure main header is on top */
}

/* Centering logo and title in the main header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

/* Logo styles */
.logo {
  height: 40px;
  text-decoration: none;
}

.logo img {
  height: 100%;
  /* Ensures the image scales with the logo container */
}

/* Title styles */
.title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: relative;
}

/* Transparent Header */
.transparent-header {
  background-color: transparent !important;
  position: absolute !important;
  width: auto;
  /* Automatically adjust to content width */
  max-width: 40%;
  /* Reduce the max-width to make it more compact */
  z-index: 4;
  /* Adjust as needed, lower than main header */
  box-shadow: none;
  left: 50%;
  transform: translateX(-50%);
  /* Center the transparent header */
  padding: 0 20px;
  /* Add padding if needed */
  display: flex;
  justify-content: center;
}

/* Title styling for the transparent header */
.transparent-header .title {
  color: black !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
    0 0 10px rgba(255, 255, 255, 0.5);
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .header-container {
    justify-content: center;
    position: relative;
  }

  .logo {
    position: absolute;
    left: 10px;
    height: 30px;
  }

  .title {
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}