html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
}

.welcome-header {
  margin: 0;
  font-size: 24px;
  padding: 20px 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: space-between;
}

.map-container {
  position: relative;
  height: 50vh;
  width: 100%;
}

.place-picker-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
  width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#map {
  height: 100%;
  width: 100%;
}