html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}

.welcome-header {
  margin: 0;
  font-size: 24px;
  padding-top: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: flex-start;
  align-items: center;
}

.place-picker-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
  max-width: calc(100% - 40px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  width: 300px;
}

.map-container {
  position: relative;
  height: 50vh;
  width: 100%;
}

.image-container {
  text-align: center;
  padding: 10px 0;
  /* Adds padding around the image container */
}

.logo-image {
  width: 250px;
  height: auto;
}

nz-input-group {
  flex: 1;
  display: flex;
  align-items: center;
}

#location-input {
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.button-container {
  margin-top: 16px;
  /* Add margin to separate the button from the map */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* Add space between buttons */
}

.nz-modal-footer .ant-btn {
  margin-left: 10px;
}