<div class="header-container">
  <div class="statistics-container">
    <nz-statistic [nzValue]="tripInfo.totalDuration" [nzTitle]="'Duration'"></nz-statistic>
    <nz-statistic [nzValue]="tripInfo.totalDistance" [nzTitle]="'Distance'"></nz-statistic>
  </div>
  <div class="header-button-container">
    <!-- <button nz-button nzType="default" (click)="editRoute()">Edit Route</button> -->
    <button nz-button nzType="default" (click)="newRoute()">New Route</button>
    <button nz-button nzType="primary" (click)="toggleQRCode()">
      {{ showQRCode ? 'Hide QR Code' : 'Send to Phone' }}
    </button>
  </div>
</div>

<div class="content-container">
  <!-- Display loading spinner when the map is being updated -->
  <div class="loading-container" [ngClass]="{ 'hidden': !loading }">
    <nz-spin nzSimple></nz-spin>
  </div>

  <!-- Existing map and QR code container -->
  <div class="map-container" [ngClass]="{ 'map-shrink': showQRCode, 'hidden': loading }">
    <div id="map"></div>
  </div>
  <div class="qr-code-container" [ngClass]="{ 'show': showQRCode }">
    <img (click)="viewInGoogleMaps()" [src]="qrCodeUrl" alt="QR Code">
  </div>
</div>