html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

.statistics-container {
  display: flex;
  gap: 20px;
}

.footer-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.map-container {
  position: relative;
  height: 65vh;
  width: 100%;
  transition: height 0.5s ease;
}

.map-container.map-shrink {
  height: 40vh;
}

#map {
  height: 100%;
  width: 100%;
}

/* New CSS for hiding map and displaying spinner */
.map-container.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  transition: visibility 0s, opacity 0.5s ease;
}

.loading-container.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 0;
  pointer-events: none;
  /* Disable pointer events when hidden */
  transition: opacity 0.2s ease, height 0.3s ease, margin-top 0.3s ease;
}

.qr-code-container.show {
  opacity: 1;
  height: auto;
  margin-top: 10px;
  pointer-events: auto;
  /* Enable pointer events when shown */
}

button[nz-button][nzType="link"] {
  margin-top: 5px;
}