<div class="header-container">
  <div class="statistics-container">
    <nz-statistic [nzValue]="tripInfo.totalDuration" [nzTitle]="'Duration'"></nz-statistic>
    <nz-statistic [nzValue]="tripInfo.totalDistance" [nzTitle]="'Distance'"></nz-statistic>
  </div>
  <div class="header-button-container">
    <button nz-button nzType="default" (click)="editRoute()">Edit Route</button>
    <button nz-button nzType="primary" (click)="newRoute()">New Route</button>
  </div>
</div>
<div class="content-container">
  <div class="map-container" [ngClass]="{ 'map-shrink': showQRCode }">
    <div id="map"></div>
  </div>
  <div class="qr-code-container" [ngClass]="{ 'show': showQRCode }">
    <img (click)="viewInGoogleMaps()" [src]="qrCodeUrl" alt="QR Code">
  </div>
  <button nz-button nzType="link" (click)="toggleQRCode()">{{ showQRCode ? 'Hide QR Code' : 'Send to Phone' }}</button>
</div>