html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}

.welcome-header {
  margin: 0;
  font-size: 30px;
  /* Expanded font size for clarity */
  padding-top: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: flex-start;
  align-items: center;
}

.map-container {
  position: relative;
  height: 50vh;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.qr-code-container {
  margin-bottom: 30px;
  /* Ensures margin between QR code and bottom of the page */
}